{% extends "homebase.html" %}

{% block title %} Hakkımızda-{{ setting.company }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/x-icon' href='{{ setting.icon.url }}'> {% endblock %}

{% block content %}
    {% include "particalpages/pageheader.html" %}
    {% load static %}
    <div class="about">
        <div class="container">
            <div class="row ">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static 'img/tarihce.jpg' %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header">
                        <h2>Tarihçe</h2>
                    </div>
                    <div class="about-text">
                        <p>
                            Ankara Üniversitesi, Cumhuriyet tarihini ve misyonunu milletiyle özdeşleştirmiş,
                            bütünleştirmiş bir üniversitedir. Türkiye Cumhuriyeti’nin kurulması, salt bir yönetim
                            biçimini değiştirmenin çok ötesinde, çağdaş bilime, çağdaş demokratik değerlere ve kurumlara
                            dayalı büyük bir toplumsal dönüşüm sistemi olduğu gibi; Ankara Üniversitesinin açılışı da,
                            bilinen üniversite amaçlarının yanında, özel bir misyonun somutlaşmasını ifade eder. Ankara
                            Üniversitesi, Atatürk ilke ve inkılâplarının dayanaklarını oluşturmak, bu ilke ve
                            inkılâpları yurt geneline yaymak, kökleştirmek ve çağdaşlığın, bilimin ve aydınlığın ifadesi
                            olan bu değerlerin yılmaz savunuculuğunu yapmak üzere, temeli bizzat yüce Atatürk tarafından
                            atılmış bir üniversitedir. Genç Cumhuriyetin yüksek öğretim alanındaki ilk ve çarpıcı
                            icraatları; laik ve demokratik Cumhuriyetin yeni hukuk düzenini gerçekleştirecek hukukçuları
                            yetiştirmek için 1925′te kurulan Hukuk Mektebini, Türk çiftçisine hizmet etmek üzere 1933′te
                            öğretime başlayan Yüksek Ziraat Enstitüsünü, zengin Anadolu kültürünü araştırmak ve
                            Türkiye’nin dünya ile dil ve kültür köprüsünü kurmak amacıyla 1935′te açılan Dil ve
                            Tarih-Coğrafya Fakültesini, 1859′dan beri Mektebi Mülkiye adıyla üst düzey kamu yöneticileri
                            yetiştiren ve 1936′da Ankara’ya taşınan Atatürk’ün özel emir ve ilgileri ile kurulan Siyasal
                            Bilgiler Okulunu açmak olmuştur. Bunlara, hazırlıkları Atatürk tarafından başlatılan ancak
                            kuruluşu II. Dünya Savaşı nedeniyle 1940′ların başına kalan Tıp ve Fen Fakültelerini de
                            eklemek gerekir. Her biri Türkiye Cumhuriyetinin imarında önemli görevler üstlenen Hukuk,
                            Dil ve Tarih-Coğrafya, Fen ve Tıp Fakülteleriyle 1946 yılında resmen kurulan Üniversitemizin
                            gelişme kronolojisi şöyledir:
                        </p>
                        <ul>
                            <li>1948′de Yüksek Ziraat Enstitüsünün Ziraat ve Veteriner Fakülteleri, Üniversitemiz
                                bünyesine alındı.
                            </li>
                            <li>1949′da İlahiyat Fakültesi kuruldu.</li>
                            <li>1936’da kurulan Siyasal Bilgiler Okulu 1950′de Fakülte adını aldı.</li>
                            <li>1960′ta Eczacılık Fakültesi kuruldu.</li>
                            <li>1963′te kurulan Diş Hekimliği Yüksek okulu, 1977′de Diş Hekimliği Fakültesi adını
                                aldı.
                            </li>
                            <li>1965′te Eğitim Bilimleri Fakültesi kuruldu.</li>
                            <li>1965’te şimdiki adıyla İletişim Fakültesi olan Basın Yayın Yüksekokulu kuruldu.</li>
                            <li>2001 yılında Mühendislik Fakültesi, Fen Fakültesi bünyesinden ayrılarak kuruldu.</li>
                            <li>1996 yılında eğitim-öğretime başlayan Sağlık Eğitim Fakültesi 2007 yılında Sağlık
                                Bilimleri Fakültesi adını aldı.
                            </li>
                            <li>1993 yılında eğitim-öğretime başlayan Beden Eğitimi ve Spor Yüksekokulu 2013 yılında
                                Spor Bilimleri Fakültesi adını aldı.
                            </li>
                            <li>2014 yılında Uygulamalı Bilimler Fakültemiz kuruldu.</li>
                            <li>1996 yılında resmi olarak kurulan ama faaliyete geçmeyen Güzel Sanatlar Fakültemiz 2015
                                yılında Üniversitemizin 17. Fakültesi olarak aktif hale geldi.
                            </li>
                            <li>2017 yılında Hemşirelik Fakültesi iki bölümlü (Hemşirelik ve Ebelik) kuruldu.</li>
                        </ul>


                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="row ">

                <div class="col-lg-7 col-md-6">
                    <div class="section-header">
                        <h2>Vizyon-Misyon</h2>
                    </div>
                    <div class="about-text">
                        <p><strong>Vizyon</strong></p>
                        <p>Nitelikli araştırmalar yapan, bilgi ve yeteneklerini insanlık ve ülke yararına kullanan ve
                            evrensel düzeyde fark yaratarak geleceğe yön veren yenilikçi üniversite olmaktır.</p>
                        <p><strong>Misyon</strong></p>
                        <p>Ankara Üniversitesi, Cumhuriyetin ilk üniversitesi olma sorumluluğu ile; eleştirel
                            düşünebilen ve sorun çözebilen, kişisel ve mesleki alanda kendini sürekli
                            yenileyen, doğaya duyarlı, farklılıklara saygı gösteren, yaratıcı bireyler yetiştirmeyi,
                            bilime ve sanata evrensel düzeyde katkı sağlayan, etik değerleri gözeten, disiplinlerarası
                            araştırmalar yapmayı, sosyal sorumluluk bilinci ile ülke sorunlarına duyarlı, kamu yararını
                            gözeten yaşadığı
                            kentin kalkınmasına ve gelişmesine katkıda bulunan hizmetler sunmayı görev edinmiştir.</p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static 'img/vizyonmisyon.jpg' %}" alt="Image">
                    </div>
                </div>
            </div>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
            <div class="row ">
                <div class="col-lg-5 col-md-6">
                    <div class="about-img">
                        <img src="{% static 'img/temeldegerler.jpg' %}" alt="Image">
                    </div>
                </div>
                <div class="col-lg-7 col-md-6">
                    <div class="section-header">
                        <h2>Temel Değerler</h2>
                    </div>
                    <div class="about-text">
                        <ul>
                            <li>Akademik özgürlüğe öncelik verme</li>
                            <li>Etik değerlere bağlılık</li>
                            <li>Cumhuriyet değerlerine bağlılık</li>
                            <li>Tarihine sahip çıkma</li>
                            <li>Kentle bütünleşme</li>
                            <li>Saydamlık</li>
                            <li>Katılımcılık</li>
                            <li>Çalışana ve öğrenciye güven duyma</li>
                            <li>Öğrenci merkezlilik</li>
                            <li>Toplumsal cinsiyet eşitliğine duyarlı</li>
                            <li>Ülke sorunlarına / önceliklerine duyarlı</li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

