{% extends "homebase.html" %}

{% block title %} {{ setting.title }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %} <link rel="icon" type='image/x-icon' href='{{ setting.icon.url }}'> {% endblock %}

{% block slider %}
    {% include "particalpages/slider.html" %}
    {% include "particalpages/academic_units.html" %}
{% endblock %}

{% block news %}
    {% include "particalpages/news.html" %}
{% endblock %}

{% block announcements %}
    {% include "particalpages/announcements.html" %}
{% endblock %}

{% block activities %}
    {% include "particalpages/activities.html" %}
{% endblock %}