{% extends "homebase.html" %}

{% block title %} {{ user.username }} - Şifre Değiştirme {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/x-icon' href='{{ setting.icon.url }}'> {% endblock %}

{% block content %}

<style>
input{
    width: 100%;
}
label{
    font-weight: bold;
}
</style>
    <!-- Contact Start -->
    <div class="contact">
        <div class="container">
            <div class="section-header">
                <h2>Şifre Değiştirme</h2>
            </div>
            <div class="row justify-content-center">

                <div class="col-md-6 ">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-danger" role="alert">
                                {{ message | safe }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="contact-form">

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="form-group">
                                    {{ field.label_tag }}<br>
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small stlye="color:grey"> {{ field.help_text }} </small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="...">{{ error }} </p>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <div>
                                <button class="btn" type="submit">Kaydet</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock %}


