{% extends "homebase.html" %}

{% block title %} {{ profile.user.username }} - Profil {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel="icon" type='image/x-icon' href='{{ setting.icon.url }}'> {% endblock %}

{% block content %}


    <!-- Contact Start -->
    <div class="contact">
        <div class="container">
            <div class="section-header">
                <h2>Profil Detayı</h2>
            </div>
            <div class="row justify-content-center">

                <div class="col-md-8 ">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <div class="contact-form">

                        <form action="/user/updateuserprofile/" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="image">
                                    <b>Profil Resmi:</b>
                                </label>
                                <input type="file" id="image" name="image" accept="image/*">
                                <br>

                                <img src="
                                        {% if profile.image %}{{ profile.image.url }}{% else %}/uploads/images/users/defaultuser.jpg{% endif %}"
                                     alt="" id="profilresmi" name="profilresmi"
                                     width="200">
                            </div>
                            <div class="form-group">
                                <label for="adsoyad"><b>Ad Soyad:</b></label>
                                <input type="text" class="form-control" readonly required="required"
                                       value="{{ profile.user.first_name }} {{ profile.user.last_name }}" name="adsoyad"
                                       id="adsoyad"/>
                            </div>
                            <div class="form-group">
                                <label for="email"><b>Email:</b></label>
                                <input type="email" class="form-control" required="required"
                                       value="{{ profile.user.email }} " name="email" id="email"/>
                            </div>
                            <div class="form-group">
                                <label for="phone"><b>Telefon:</b></label>
                                <input type="text" class="form-control" required="required"
                                       value="{{ profile.phone }} " name="phone" id="phone"/>
                            </div>
                            <div class="form-group">
                                <label for="address"><b>Adres:</b></label>
                                <input type="text" class="form-control" required="required"
                                       value="{{ profile.address }} " name="address" id="address"/>
                            </div>
                            <div class="form-group">
                                <label for="city"><b>Şehir:</b></label>
                                <input type="text" class="form-control" required="required"
                                       value="{{ profile.city }}" name="city" id="city"/>
                            </div>
                            <div class="form-group">
                                <label for="country"><b>Ülke:</b></label>
                                <input type="text" class="form-control" required="required"
                                       value="{{ profile.country }}" name="country" id="country"/>
                            </div>
                            <div>
                                <button class="btn" type="submit">Kaydet</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->


{% endblock %}


