{% if announcementdata %}

    {% load static %}
    <!-- Testimonial Start -->
    <div class="testimonial">
        <div class="container">
            <div class="section-header">
                <h2>Duyurular</h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                {% for rs in announcementdata %}

                    <div  class="testimonial-item" onclick="location.href='/contentdetail/{{ rs.id }}/{{ rs.slug }}'"
                    style="cursor:pointer; height: 250px;">
                    <h2>{{ rs.title | safe }}</h2>
                    <p>{{ rs.created_at }}</p>
                    <i class="fa fa-quote-right"></i>
                    <div class="row align-items-center">

                        <div class="col-12">
                            <p>
                                {{ rs.description }}
                            </p>
                        </div>
                    </div>
                    </div>

                {% endfor %}

        </div>

    </div>
    </div>
    <!-- Testimonial End -->
{% endif %}

