{% load static %}
<!-- Footer Start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-8">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="footer-contact">
                            <h2>İletişim Bilgileri</h2>
                            <p><i class="fa fa-map-marker-alt"></i>1314. Cadde No: 19 Çankaya / Ankara</p>
                            <p><i class="fa fa-phone-alt"></i>0312 216 06 50</p>
                            <p><i class="fa fa-envelope"></i>info@turtep.com</p>
                            <div class="footer-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-youtube"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="footer-link">
                            <h2>Faydalı Sayfalar</h2>
                            <a href="/about">ÖSYM</a>
                            <a href="/academiccalendar">ULUSAL TEZ MERKEZİ</a>
                            <a href="/faqs">MİLLİ KÜTÜPHANE</a>
                            <a href="/">AB GENÇLİK PROGRAMI</a>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="footer-about">
                    <h2>Hakkımızda</h2>
                    <p style="text-align: justify">Üniversitemiz; toplum, insanlık ve doğa için, evrensel değerler çerçevesinde, yaratıcı ve eleştirel düşünmeyi, yenilikçiliği ve liderliği besleyerek mükemmellik düzeyinde araştırma yapmayı, eğitim vermeyi ve topluma hizmet etmeyi hedeflemektedir.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <p>
        &nbsp;
    </p>
    <div class="container footer-menu">
        <div class="f-menu">
            <a href="">Kullanım Şartları</a>
            <a href="">Gizlilik Politikası</a>
            <a href="">Çerezler</a>
            <a href="">SSS</a>
        </div>
    </div>
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="">DMZ Üni</a>, Tüm Hakları Saklıdır.
                </p>
            </div>
            <div class="col-md-6">
                <p>Designed By <a href="">Demet Zorlu</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

