{% load static %}


<script>

    $(function () {
        $("#query").autocomplete({
            source: "/autosearch/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

    function AutoCompleteSelectHandler(event, ui) {
        var selectedObj = ui.item;
    }

</script>

<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="/">
                        <h1>DMZ Ü.</h1>
                        <!-- <img src="img/logo.jpg" alt="Logo"> -->
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="top-bar-right" style="height: 100%;vertical-align:middle ; align-items: center;">

                    <div class="text" onclick="location.href='/faqs'" style="cursor:pointer;">
                        <h2><i class="fa fa-question"></i></h2>
                        <p>Sıkça Sorulan Sorular</p>
                    </div>
                    <div class="text">
                        <p>&nbsp;&nbsp;</p>
                    </div>

                    {% if user.id is not None %}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="nav-item dropdown">
                                <button type="button" id="btnLogin" data-toggle="dropdown"
                                        class="btnlogin dropdown-toggle">
                                    <span class="fa fa-user"></span> {{ user.username }} <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="btnLogin">
                                    <li class="px-3 py-2">
                                        <a href="/user/" class="dropdown-item">
                                            <span class="fa fa-list-alt"></span> Profil
                                        </a>
                                        <a href="/user/comments/" class="dropdown-item">
                                            <span class="fa fa-comment"></span> Yorumlarım
                                        </a>
                                        <a href="/user/contents/" class="dropdown-item">
                                            <span class="fa fa-plus"></span> İçeriklerim
                                        </a>
                                        <a href="/user/updateuserpassword/" class="dropdown-item">
                                            <span class="fa fa-key"></span> Şifremi Değiştir
                                        </a>

                                        <a href="/logout/" class="dropdown-item">
                                            <span class="fas fa-sign-out-alt"></span> Çıkış
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                        <a href="/login/" class="text-uppercase"><i class="fa fa-sign-in-alt" aria-hidden="true"></i>
                            &nbsp;Giriş&nbsp;&nbsp;</a> <!--&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/join/" class="text-uppercase"><i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;&nbsp;Kaydol</a>-->
                    {% endif %}

                </div>

            </div>

        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="nav-bar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if page == 'home' %}
                        <li class="nav-item active">
                            <a href="/" class="nav-item nav-link active">Anasayfa</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/" class="nav-item nav-link">Anasayfa</a>
                        </li>
                    {% endif %}

                    {% if page == 'about' %}
                        <li class="nav-item active">
                            <a href="/about" class="nav-item nav-link active">Hakkımızda</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/about" class="nav-item nav-link">Hakkımızda</a>
                        </li>
                    {% endif %}

                    {% if page == 'referances' %}
                        <li class="nav-item active">
                            <a href="/referances" class="nav-item nav-link active">Referanslarımız</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/referances" class="nav-item nav-link">Referanslarımız</a>
                        </li>
                    {% endif %}

                    {% if page == 'academiccalendar' %}
                        <li class="nav-item active">
                            <a href="/academiccalendar" class="nav-item nav-link active">Akademik Takvim</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/academiccalendar" class="nav-item nav-link">Akademik Takvim</a>
                        </li>
                    {% endif %}

                    {% load mptt_tags %}
                    {% recursetree menu %}
                        {% if node.is_root_node %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% else %}
                            <li>

                                {% if not node.is_leaf_node %}
                                    <a class="dropdown-item dropdown-toggle" href="#">{{ node.title }}</a>
                                    <ul class="dropdown-menu">
                                        {{ children }}
                                    </ul>
                                {% else %}
                                    <a class="dropdown-item"
                                       href="/menucontent/{{ node.id }}/">{{ node.title }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endrecursetree %}



                    {% if page == 'contact' %}
                        <li class="nav-item active">
                            <a href="/contact" class="nav-item nav-link active">İletişim</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/contact" class="nav-item nav-link">İletişim</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="form-inline my-2 my-lg-0" action="/search/" method="post">
                    {% csrf_token %}
                    <input class="form-control mr-sm-2 form-control-sm" type="search" placeholder="Ara"
                           aria-label="Search" name="query" id="query">
                    {% load mptt_tags %}
                    <select class="form-control mr-sm-2 form-control-sm" name="menuid" aria-label="Searchsel">
                        <option value="0">Hepsi</option>
                        {% recursetree menusearch %}
                            {% if node.is_leaf_node %}
                                <option value="{{ node.id }}">{{ node.title }}</option>
                            {% endif %}
                            {% if not node.is_leaf_node %}
                                <optgroup label="{{ node.title }}">{{ children }}</optgroup>
                            {% endif %}
                        {% endrecursetree %}
                    </select>
                    <button class="btn form-control-sm" type="submit"><i class="fa fa-search"> </i></button>
                </form>

            </div>
        </nav>

    </div>
</div>
<!-- Nav Bar End -->
