{% load static %}

<div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="../index.html">
                        <h1>DMZ Ü.</h1>
                        <!-- <img src="img/logo.jpg" alt="Logo"> -->
                    </a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="top-bar-right">
                    <div class="text">
                        <h2>8:00 - 9:00</h2>
                        <p>Opening Hour Mon - Fri</p>
                    </div>
                    <div class="text">
                        <h2>+123 456 7890</h2>
                        <p>Call Us For Free Consultation</p>
                    </div>
                    <div class="social">
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Nav Bar Start -->
<div class="nav-bar">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    {% if page == 'home' %}
                        <li class="nav-item active">
                            <a href="/" class="nav-item nav-link active">Anasayfa</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/" class="nav-item nav-link">Anasayfa</a>
                        </li>
                    {% endif %}

                    {% if page == 'about' %}
                        <li class="nav-item active">
                            <a href="/about" class="nav-item nav-link active">Hakkımızda</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/about" class="nav-item nav-link">Hakkımızda</a>
                        </li>
                    {% endif %}

                    {% if page == 'referances' %}
                        <li class="nav-item active">
                            <a href="/referances" class="nav-item nav-link active">Referanslarımız</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/referances" class="nav-item nav-link">Referanslarımız</a>
                        </li>
                    {% endif %}

                    {% if page == 'academiccalendar' %}
                        <li class="nav-item active">
                            <a href="/academiccalendar" class="nav-item nav-link active">Akademik Takvim</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/academiccalendar" class="nav-item nav-link">Akademik Takvim</a>
                        </li>
                    {% endif %}

                    {% load mptt_tags %}
                    {% recursetree menu %}
                        {% if node.is_root_node %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#"
                                   id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                                   aria-expanded="false">
                                    {{ node.title }}</a>
                                {% if not node.is_leaf_node %}
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                        {{ children }}
                                    </ul>
                                {% endif %}
                            </li>
                        {% else %}
                            <li>

                                {% if not node.is_leaf_node %}
                                    <a class="dropdown-item dropdown-toggle" href="#">{{ node.title }}</a>
                                    <ul class="dropdown-menu">
                                        {{ children }}
                                    </ul>
                                {% else %}
                                    <a class="dropdown-item" href="/academiccontentlist/{{ node.id }}/{{ node.slug }}">{{ node.title }}</a>
                                {% endif %}
                            </li>
                        {% endif %}
                    {% endrecursetree %}



                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="https://bootstrapthemes.co"
                           id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            Dropdown link
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Submenu action</a></li>
                                    <li><a class="dropdown-item" href="#">Another submenu action</a></li>


                                    <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Subsubmenu action aa</a></li>
                                            <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Subsubmenu action bb</a></li>
                                            <li><a class="dropdown-item" href="#">Another subsubmenu action</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li><a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">Submenu action 2</a></li>
                                    <li><a class="dropdown-item" href="#">Another submenu action 2</a></li>


                                    <li><a class="dropdown-item dropdown-toggle" href="#">Subsubmenu</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Subsubmenu action 1 3</a></li>
                                            <li><a class="dropdown-item" href="#">Another subsubmenu action 2 3</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item dropdown-toggle" href="#">Second subsubmenu 3</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item" href="#">Subsubmenu action 3 </a></li>
                                            <li><a class="dropdown-item" href="#">Another subsubmenu action 3</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    {% if page == 'contact' %}
                        <li class="nav-item active">
                            <a href="/contact" class="nav-item nav-link active">İletişim</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="/contact" class="nav-item nav-link">İletişim</a>
                        </li>
                    {% endif %}

                </ul>
            </div>
        </nav>

    </div>
</div>
<!-- Nav Bar End -->
