{% if newsdata %}
    {% load static %}
    <!-- Blog Start -->
    <div class="blog">
        <div class="container">
            <div class="section-header">
                <h2>Haberler</h2>
            </div>
            <div class="owl-carousel blog-carousel">
                {% for rs in newsdata %}

                    <div class="blog-item">
                        <img src="{{ rs.image.url }}" alt="Blog" height="50%" width="50%">
                        <h3>{{rs.title | safe}}</h3>
                        <div class="meta">
                            <!--<i class="fa fa-list-alt"></i>
                            <a href="">{{rs.description}}</a>-->
                            <i class="fa fa-calendar-alt"></i>
                            <p>{{ rs.created_at }}</p>
                        </div>
                        <p>
                            {{rs.description}}
                        </p>
                        <a class="btn" href="/contentdetail/{{ rs.id }}/{{ rs.slug }}">Daha Fazla <i class="fa fa-angle-right"></i></a>
                    </div>

                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endif %}